* {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #DAA588;
}

body {
    background: #28262C;
}

.counter--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.counter--card {
    text-align: center;
    border: 5px solid #DAA588;
    border-radius: 200px;
    width: 50%;
    height: 50%;
    margin: 1%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,30,15,1) 0%, rgba(153,18,18,1) 40%, rgba(21,11,113,1) 60%, rgba(0,0,255,1) 100%);
}

.counter--header {
    font-size: 70px;
    text-decoration: underline;
    margin: 0;
}

.counter--value {
    font-size: 100px;
    margin-top: 0px;
    margin-left: 100px;
    background-color: white;
}

.exp--value {
    font-size: 100px;
    margin-top: 0px;
    margin-right: 100px;
    color: #0000ff;
    background-color: white;
}

.counter--buttons {
    margin: 20px;
}

.counter--buttons button {
    background: none;
}

.add--container {
   display: flex;
   justify-content: center;
}

.health-exp--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.counter-buttons--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

img {
    width: 100px;
    height: 100px;
}